
.student-dashboard-container{
    display: flex;
    gap:0.5rem
}
.student-left-sidebar{
    width:calc(100% - 70%);
    border:1px solid black;
}
.student-right-sidebar{
    width:calc(100% - 40%);
    /* border:1px solid #000000; */
    /* text-align: center; */

}

.student-image{
    object-fit: fill;
    width:70px;
    height:70px;
    border-radius: 100%;
    border:1px solid #ef32ad;
    font-size: 12px;
    text-align: center;
}
.search-bar{
   width:70%;
   text-indent: 1rem;
   text-transform: capitalize;
   padding: 1rem;
   border-radius: 10px;
   accent-color: orange;
}