.student-dashboard-container {
  display: flex;
  gap: 0.5rem;
}
.student-left-sidebar {
  width: calc(100% - 70%);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}
.student-right-sidebar {
  width: calc(100% - 40%);
  /* border:1px solid #000000; */
  /* text-align: center; */
}

.student-image {
  object-fit: fill;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 1px solid #ef32ad;
  font-size: 12px;
  text-align: center;
}
.search-bar-container {
  position: relative;
}
.search-bar {
  position: relative;
  width: 80%;
  text-indent: 0.2rem;
  /* text-transform: capitalize; */
  padding: 1rem 0.7rem 1rem 0rem;
  border-radius: 10px;
  accent-color: orange;
  border: 1px solid #ef32ad;
}

.search-icon {
  position: absolute;
  right: 11rem;
  top: 0.5rem;
  color: blue;
  cursor: pointer;
  font-size: 15px;
}

/* .loading-request-container {
  display: none;
} */

.to-chat {
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .search-icon {
    position: absolute;
    right: 3.8rem;
    top: 0.5rem;
    font-size: 15px;
    padding-right: 0.2rem;
    color: #3f32ef;
  }
}
