@media screen and (max-width:689px) {
    .request-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        border: 1px solid white;
        background-color: whitesmoke;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        width: 100%;
        margin-top: 1rem;
        gap:0.5rem;
      }
      .receive-status1{
          border: 1px solid black;
          border-radius:10px;
          padding: 0.3rem;
          background: lightcoral;
      }
      .receive-status2{
          border: 1px solid black;
          border-radius:10px;
          padding: 0.3rem;
          background: #eee;
      }
      .receive-status3{
          border: 1px solid black;
          border-radius:10px;
          padding: 0.3rem;
          background: violet;
      }
      .messenger-picture{
          object-fit: cover;
          height:50px;
          width:50px;
          border: 1px solid red;
          border-radius: 100%;
      }
      .message-id{
        display: none;
      }
      .request-message{
          color:grey;
          font-size: 15px;
          display: none;
      }
      .request-time{
          color:red;
      }
      .request-buttons{
          display: flex;
          gap:0.5rem;
      }
      button{
          outline:none;
          border:none;
          background: none;
          cursor: pointer;
      }
}



@media screen and (min-width: 690px) {
  .request-container {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    align-items: center;
    justify-content: flex-start;
    height: 50px;
    border: 1px solid white;
    background-color: whitesmoke;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin: auto;
    width: 90%;
    padding: 1.8rem;
    margin-top: 1rem;
    gap: 1rem;
  }
  .receive-status1{
    border: 1px solid black;
    border-radius:10px;
    padding: 0.3rem;
    background: lightcoral;
}
.receive-status2{
    border: 1px solid black;
    border-radius:10px;
    padding: 0.3rem;
    background: #eee;
}
.receive-status3{
    border: 1px solid black;
    border-radius:10px;
    padding: 0.3rem;
    background: violet;
}
.messenger-picture{
    object-fit: cover;
    height:50px;
    width:50px;
    border: 1px solid red;
    border-radius: 100%;
}
.request-message{
    color:grey;
    font-size: 15px;
    
}
.request-time{
    color:red;
}
.request-buttons{
    display: flex;
    gap:0.5rem;
}
button{
    outline:none;
    border:none;
    background: none;
    cursor: pointer;
}
}
