.links{
    display: flex;
    justify-content: space-between;
}
.signup-login small{
    margin:1rem;
}
.ucc-image{
    height:70px;
    width:100%;
    object-fit: contain;
}
.loading{
    float:right;
    margin-top: -2.5rem;
    margin-right: 1rem;
}